h1, u, h3, p {
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: rgb(0, 140, 47);   
}

.imgRedonda {
border-radius: 50%;
transition: all 0.5s;
box-shadow: 5px 5px 10px rgb(132, 132, 132);
}

.imgRedonda:hover {
    border-radius: 5%;
    transition: all 0.5s;
}

.titulo {
    color: rgb(0, 140, 47);  
}

p {
    margin-left: 100px;
}

.pagina {

    box-shadow: 1px 1px 15px rgb(132, 132, 132);
    border: 1px solid black; 
    padding: 40px;
    border-radius: 25px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(237, 255, 240);
    }

@media screen and (max-width: 1300px){
    .pagina {
        margin-left: 100px;
        margin-right: 100px;
    }
    
}

@media screen and (max-width: 767px){
    .pagina {
        margin-left: 10px;
        margin-right: 10px;
    }
    
}